:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  justify-content: space-evenly;
}

nz-card {
  width: 24rem;

  &.ant-card-body {
    background-color: white !important;
  }
}

// ::ng-deep .ant-card-body {
//   background-color: white !important;
// }
