@use "./_variables.scss" as colors;

:host {
  display: flex !important;
  flex-direction: column;
  padding: 1rem 3rem;

  > .title {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem 1rem 0rem;
  }
}
