.text-lx {
  font-size: 5rem;
  font-weight: 900;
}
.text-lg {
  font-size: 4rem;
  font-weight: 700;
}
.text-md {
  font-size: 3rem;
  font-weight: 500;
}
.text-sm {
  font-size: 2rem;
  font-weight: 300;
}
.text-sl {
  font-size: 1rem;
  font-weight: 100;
}
