@use "./_variables.scss" as colors;
@use "./_typography.scss" as text;
@use "./_zindex.scss" as zindexs;

:host {
  width: 100vw;
  min-height: 100vh;

  > gxun-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: zindexs.$z-index-modal;
  }

  > router-outlet {
    overflow: auto; /* 啟用滾動條（如內容溢出） */
    min-height: 0; /* 解決高度被壓縮問題 */
    display: block;
    margin-top: 7.5rem; /* 與 header 高度保持一致 */
  }

  > gxun-footer {
  }
}
