@use "./_variables.scss" as colors;
@use "./_typography.scss" as text;
@use "./_zindex.scss" as zindexs;

:host {
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > router-outlet {
    display: block;
  }
}
