:host {
  width: 100vw;
  height: 100vh; /* 確保佔滿整個視窗 */
  display: flex;
  flex-direction: column; /* 垂直布局 */
  box-sizing: border-box;

  > gxun-header {
    width: 100%;
    flex: 0 0 auto; /* 固定高度 */
  }

  > router-outlet {
    flex: 1; /* 占據剩餘空間 */
    width: 100%;
    overflow-y: auto;
  }

  > gxun-footer {
    width: 100%;
    flex: 0 0 auto; /* 固定高度 */
  }
}
