<div class="information">
  <div class="contact-method info-block">
    <div class="title">聯絡方法</div>
    <div class="content">
      <ul>
        <li><span>電話 :</span> (02)2999-0707、(02)2999-0298</li>
        <li><span>傳真 :</span> (02)2999-1755</li>
        <li><span>地址 :</span> 241新北市新莊區福壽街164巷17號1樓</li>
        <li><span>郵箱 :</span> gxunmail&#64;yahoo.com.tw</li>
      </ul>
    </div>
  </div>
  <div class="social-media info-block">
    <div class="title">社群媒體</div>
    <div class="content icon">
      <i class="fa-brands fa-line fa-2xl"></i>
      <i class="fa-brands fa-square-facebook fa-2xl"></i>
      <i class="fa-brands fa-facebook-messenger fa-2xl"></i>
      <i class="fa-brands fa-google fa-2xl"></i>
    </div>
  </div>
</div>

<div class="copyright">
  <span
    >© {{ thisYear | date : "yyyy" }} Guangxun Tech. All rights reserved.</span
  >
</div>
